﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>NewsEdge | Home 1</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/Content/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/Content/css/main.css">
    <!-- Bootstrap rtl CSS -->
    <link rel="stylesheet" href="/Content/css/bootstrap-rtl.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/Content/css/animate.min.css">
    <!-- Font-awesome CSS-->
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css">
    <!-- Owl Caousel CSS -->
    <link rel="stylesheet" href="/Content/vendor/OwlCarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/vendor/OwlCarousel/owl.theme.default.min.css">
    <!-- Main Menu CSS -->
    <link rel="stylesheet" href="/Content/css/meanmenu.min.css">
    <!-- Magnific CSS -->
    <link rel="stylesheet" type="text/css" href="/Content/css/magnific-popup.css">
    <!-- Switch Style CSS -->
    <link rel="stylesheet" href="/Content/css/hover-min.css">
    <!-- Custom CSS -->

    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/stylesheet.css" rel="stylesheet" />
    <!-- For IE -->
    <link rel="stylesheet" type="text/css" href="/Content/css/ie-only.css" />
    <!-- Modernizr Js -->
    <script src="/Content/js/modernizr-2.8.3.min.js"></script>












    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" />

    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!-- Header Area Start Here -->
    <header>
        <div id="header-layout1" class="header-style1">
            <div class="main-menu-area bg-primarytextcolor header-menu-fixed" id="sticker">
                <div class="container">
                    <div class="row no-gutters d-flex align-items-center">
                        <div class="col-lg-2 d-none d-lg-block">
                            <div class="logo-area">
                                <a href="index.html">
                                    <img src="/Content/img/logo.png" alt="logo" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7 position-static min-height-none">
                            <div class="ne-main-menu">
                                <nav id="dropdown">
                                    <ul>
                                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                                        <li>@Html.ActionLink("Home", "allnews", "news")</li>
                                        <li>@Html.ActionLink("php", "categoryNews", "news")</li>
                                        @if (Session["userId"] == null)
                                        {
                                            @*<li>@Html.ActionLink("login", "login", "user")</li>
            <li>@Html.ActionLink("register", "register", "user")</li>*@
                                        }
                                        else
                                        {
                                            <li>@Html.ActionLink("Add News", "create", "news")</li>
                                            <li>@Html.ActionLink("My News", "userNews", "news")</li>
                                            <li>@Html.ActionLink("Profile", "profile", "user")</li>

                                        }
                                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-12 text-right position-static">
                            <div class="header-action-item">
                                <ul>
                                    <li>
                                        <form id="top-search-form" class="header-search-light">
                                            @using (Html.BeginForm("searchnews", "news", FormMethod.Post))
                                            {
                                                <input id="txt"onkeyup="fun1()"  name="txt"   class="search-input" placeholder="Search...." required="" style="display: none;">
                                                <div  class="search-button"  >
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                </div>
                                            }

                                        </form>
                                    </li>
                                    @if (Session["userId"] == null)
                                    {

                                        <li class="login-btn" style=" margin-left: 9px; padding-left: 5px;"><i class="fa fa-user" aria-hidden="true"></i>@Html.ActionLink("Login", "login", "user")</li>
                                        <li class="login-btn"><i class="fa fa-user" aria-hidden="true"></i> @Html.ActionLink("register", "register", "user")</li>
                                    }
                                    else
                                    {
                                        <li class="login-btn">@Html.ActionLink("logout", "logout", "user")</li>
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section class="bg-accent">
        <div class="container">
            <div class="row no-gutters d-flex align-items-center">
                <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                    <div class="topic-box mt-10 mb-10">Top Stories</div>
                </div>
                <div class="col-lg-10 col-md-9 col-sm-8 col-6">
                    <div class="feeding-text-dark">
                        <div id="ticker-wrapper-1614604772624" class="ticker-wrapper has-js left">
                            <div id="ticker-1614604772624" class="ticker">
                                <div id="ticker-title-1614604772624" class="ticker-title"><span><!-- --></span></div><p id="ticker-content-1614604772624" class="ticker-content" style="display: block; opacity: 1; left: 436px;">
                                    <a href="#">If Obama Had Governed Like This in 2017 He'd Be the Transformational.</a>
                                </p><div id="ticker-swipe-1614604772624" class="ticker-swipe" style="left: 945px; margin-left: -27px;"><span style="display: block;"><!-- --></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Header Area End Here -->
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("all news", "allnews", "news")</li>
                        @if (Session["userId"] == null)
                        {
                            <li>@Html.ActionLink("login", "login", "user")</li>
                            <li>@Html.ActionLink("register", "register", "user")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Add News", "create", "news")</li>
                            <li>@Html.ActionLink("news", "userNews", "news")</li>
                            <li>@Html.ActionLink("profile", "profile", "user")</li>
                            <li>@Html.ActionLink("logout", "logout", "user")</li>
                        }


                    </ul>
                </div>
            </div>
        </div>*@
    @RenderBody()


    <!-- Footer Area Start Here -->
    <footer>
        <div class="footer-area-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-box">
                            <h2 class="title-bold-light title-bar-left text-uppercase">Most Viewed Posts</h2>
                            <ul class="most-view-post">
                                <li>
                                    <div class="media">
                                        <a href="post-style-1.html">
                                            <img src="/Content/img/footer/post1.jpg" alt="post" class="img-fluid">
                                        </a>
                                        <div class="media-body">
                                            <h3 class="title-medium-light size-md mb-10">
                                                <a href="#">Basketball Stars Face Off itim ate Playoff Beard Battle</a>
                                            </h3>
                                            <div class="post-date-light">
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        </span>November 11, 2017
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <a href="post-style-2.html">
                                            <img src="/Content/img/footer/post2.jpg" alt="post" class="img-fluid">
                                        </a>
                                        <div class="media-body">
                                            <h3 class="title-medium-light size-md mb-10">
                                                <a href="#">Basketball Stars Face Off in ate Playoff Beard Battle</a>
                                            </h3>
                                            <div class="post-date-light">
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        </span>August 22, 2017
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="media">
                                        <a href="post-style-3.html">
                                            <img src="/Content/img/footer/post3.jpg" alt="post" class="img-fluid">
                                        </a>
                                        <div class="media-body">
                                            <h3 class="title-medium-light size-md mb-10">
                                                <a href="#">Basketball Stars Face tim ate Playoff Battle</a>
                                            </h3>
                                            <div class="post-date-light">
                                                <ul>
                                                    <li>
                                                        <span>
                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                        </span>March 31, 2017
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-3 col-md-6 col-sm-12">
                        <div class="footer-box">
                            <h2 class="title-bold-light title-bar-left text-uppercase">Popular Categories</h2>
                            <ul class="popular-categories">
                                <li>
                                    <a href="#">
                                        Gadgets
                                        <span>15</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Architecture
                                        <span>10</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        New look 2017
                                        <span>14</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Reviews
                                        <span>13</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Mobile and Phones
                                        <span>19</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Recipes
                                        <span>26</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Decorating
                                        <span>21</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        IStreet fashion
                                        <span>09</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12">
                        <div class="footer-box">
                            <h2 class="title-bold-light title-bar-left text-uppercase">Post Gallery</h2>
                            <ul class="post-gallery shine-hover ">
                                <li>
                                    <a href="gallery-style1.html">
                                        <figure>
                                            <img src="/Content/img/footer/post4.jpg" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery-style2.html">
                                        <figure>
                                            <img src="/Content/img/footer/post5.jpg" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery-style1.html">
                                        <figure>
                                            <img src="/Content/img/footer/post6.jpg" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery-style2.html">
                                        <figure>
                                            <img src="/Content/img/footer/post7.jpg" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery-style1.html">
                                        <figure>
                                            <img src="/Content/img/footer/post8.jpg" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery-style2.html">
                                        <figure>
                                            <img src="/Content/img/footer/post9.jpg" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery-style1.html">
                                        <figure>
                                            <img src="/Content/img/footer/post10.jpg" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery-style2.html">
                                        <figure>
                                            <img src="/Content/img/footer/post11.jpg" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery-style1.html">
                                        <figure>
                                            <img src="/Content/img/footer/post12.jpg" alt="post" class="img-fluid">
                                        </figure>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-area-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="index.html" class="footer-logo img-fluid">
                            <img src="img/logo.png" alt="logo" class="img-fluid">
                        </a>
                        <ul class="footer-social">
                            <li>
                                <a href="#" title="facebook">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="twitter">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="google-plus">
                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="linkedin">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="pinterest">
                                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="rss">
                                    <i class="fa fa-rss" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" title="vimeo">
                                    <i class="fa fa-vimeo" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                        <p>© 2017 newsedge Designed by RadiusTheme. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End Here -->
    <!-- Modal Start-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="title-login-form">Login</div>
                </div>
                <div class="modal-body">
                    <div class="login-form">
                        <form>
                            <label>Username or email address *</label>
                            <input type="text" placeholder="Name or E-mail" />
                            <label>Password *</label>
                            <input type="password" placeholder="Password" />
                            <div class="checkbox checkbox-primary">
                                <input id="checkbox" type="checkbox" checked>
                                <label for="checkbox">Remember Me</label>
                            </div>
                            <button type="submit" value="Login">Login</button>
                            <button class="form-cancel" type="submit" value="">Cancel</button>
                            <label class="lost-password">
                                <a href="#">Lost your password?</a>
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal End-->
    <!-- Offcanvas Menu Start -->
    <div id="offcanvas-body-wrapper" class="offcanvas-body-wrapper">
        <div id="offcanvas-nav-close" class="offcanvas-nav-close offcanvas-menu-btn">
            <a href="#" class="menu-times re-point">
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="offcanvas-main-body">
            <ul id="accordion" class="offcanvas-nav panel-group">
                <li class="panel panel-default">
                    <div class="panel-heading">
                        <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <i class="fa fa-home" aria-hidden="true"></i>Home Pages
                        </a>
                    </div>
                    <div aria-expanded="false" id="collapseOne" role="tabpanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="offcanvas-sub-nav">
                                <li>
                                    <a href="index.html">Home 1</a>
                                </li>
                                <li>
                                    <a href="index2.html">Home 2</a>
                                </li>
                                <li>
                                    <a href="index3.html">Home 3</a>
                                </li>
                                <li>
                                    <a href="index4.html">Home 4</a>
                                </li>
                                <li>
                                    <a href="index5.html">Home 5</a>
                                </li>
                                <li>
                                    <a href="index6.html">Home 6</a>
                                </li>
                                <li>
                                    <a href="index7.html">Home 7</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="author-post.html">
                        <i class="fa fa-user" aria-hidden="true"></i>Author Post Page
                    </a>
                </li>
                <li class="panel panel-default">
                    <div class="panel-heading">
                        <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <i class="fa fa-file-text" aria-hidden="true"></i>Post Pages
                        </a>
                    </div>
                    <div aria-expanded="false" id="collapseTwo" role="tabpanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="offcanvas-sub-nav">
                                <li>
                                    <a href="post-style-1.html">Post Style 1</a>
                                </li>
                                <li>
                                    <a href="post-style-2.html">Post Style 2</a>
                                </li>
                                <li>
                                    <a href="post-style-3.html">Post Style 3</a>
                                </li>
                                <li>
                                    <a href="post-style-4.html">Post Style 4</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel panel-default">
                    <div class="panel-heading">
                        <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>News Details Pages
                        </a>
                    </div>
                    <div aria-expanded="false" id="collapseThree" role="tabpanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="offcanvas-sub-nav">
                                <li>
                                    <a href="single-news-1.html">News Details 1</a>
                                </li>
                                <li>
                                    <a href="single-news-2.html">News Details 2</a>
                                </li>
                                <li>
                                    <a href="single-news-3.html">News Details 3</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="archive.html">
                        <i class="fa fa-archive" aria-hidden="true"></i>Archive Page
                    </a>
                </li>
                <li class="panel panel-default">
                    <div class="panel-heading">
                        <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>Gallery Pages
                        </a>
                    </div>
                    <div aria-expanded="false" id="collapseFour" role="tabpanel" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="offcanvas-sub-nav">
                                <li>
                                    <a href="gallery-style-1.html">Gallery Style 1</a>
                                </li>
                                <li>
                                    <a href="gallery-style-2.html">Gallery Style 2</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="404.html">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>404 Error Page
                    </a>
                </li>
                <li>
                    <a href="contact.html">
                        <i class="fa fa-phone" aria-hidden="true"></i>Contact Page
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- jquery-->
    <script src="/Content/js/jquery-2.2.4.min.js" type="text/javascript"></script>
    <!-- Plugins js -->
    <script src="/Content/js/plugins.js" type="text/javascript"></script>
    <!-- Popper js -->
    <script src="js/popper.js" type="text/javascript"></script>
    <!-- Bootstrap js -->
    <script src="/Content/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- WOW JS -->
    <script src="/Content/js/wow.min.js"></script>
    <!-- Owl Cauosel JS -->
    <script src="/Content/vendor/OwlCarousel/owl.carousel.min.js" type="text/javascript"></script>
    <!-- Meanmenu Js -->
    <script src="/Content/js/jquery.meanmenu.min.js" type="text/javascript"></script>
    <!-- Srollup js -->
    <script src="/Content//jquery.scrollUp.min.js" type="text/javascript"></script>
    <!-- jquery.counterup js -->
    <script src="/Content/js/jquery.counterup.min.js"></script>
    <script src="/Content/js/waypoints.min.js"></script>
    <!-- Isotope js -->
    <script src="/Content/js/isotope.pkgd.min.js" type="text/javascript"></script>
    <!-- Magnific Popup -->
    <script src="/Content/js/jquery.magnific-popup.min.js"></script>
    <!-- Ticker Js -->
    <script src="/Content/js/ticker.js" type="text/javascript"></script>
    <!-- Custom Js -->
    <script src="/Content/js/main.js" type="text/javascript"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
