﻿@model aspDay6.Models.news
@{
    ViewBag.Title = "create";
}

 

 
    
    <section class="bg-body section-space-less30">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 mb-30">
                    <div class="topic-border color-cod-gray mb-30">
                        <div class="topic-box-lg color-cod-gray">Create News</div>
                    </div>
                    <form method="post" enctype="multipart/form-data" class="contact-form">
                        <fieldset>
                            <div class="row">
                                <table >
                                    <tr>
                                        <td>@Html.LabelFor(n => n.title)</td>
                                        <td>@Html.TextBoxFor(n => n.title, new { @class = "form-control cat-input" })</td>
                                        <td>@Html.ValidationMessageFor(n => n.title)</td>
                                    </tr>

                                    @*<tr>
                                        <td>@Html.LabelFor(n => n.bref)</td>
                                        <td>@Html.TextAreaFor(n => n.bref, new { @class = "form-control cat-input cat-details" })</td>
                                        <td>@Html.ValidationMessageFor(n => n.bref)</td>
                                    </tr>*@

                                    <tr>
                                        <td>@Html.LabelFor(n => n.details)</td>
                                        <td>@Html.TextAreaFor(n => n.details, new { @class = "form-control cat-input cat-details" })</td>
                                        <td>@Html.ValidationMessageFor(n => n.details)</td>
                                    </tr>

                                    <tr>
                                        <td>category</td>
                                        <td>@Html.DropDownListFor(n => n.catId, (SelectList)ViewBag.cat, new { @class = "form-control  " })</td>
                                        <td>@Html.ValidationMessageFor(n => n.catId)</td>
                                    </tr>

                                    <tr>
                                        <td>photo</td>
                                        <td><input class="form-control  " type="file" name="photo" value="image" /></td>

                                    </tr>
                                    <tr>

                                        <td> <div class="form-group mb-none">
                                    <button type="submit" class="btn-ftg-ptp-56 disabled">Save</button>
                                </div></td>

                                    </tr>







                                </table>
                            </div>
                        </fieldset>
                    </form>

                </div>
                <div class="ne-sidebar sidebar-break-md col-lg-4 col-md-12">
                    <div class="sidebar-box">
                        <div class="topic-border color-cod-gray mb-30">
                            <div class="topic-box-lg color-cod-gray">Stay Connected</div>
                        </div>
                        <ul class="stay-connected overflow-hidden">
                            <li class="facebook">
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                    <div class="connection-quantity">50.2 k</div>
                                    <p>Fans</p>
                                </a>
                            </li>
                            <li class="twitter">
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                    <div class="connection-quantity">10.3 k</div>
                                    <p>Followers</p>
                                </a>
                            </li>
                            <li class="linkedin">
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    <div class="connection-quantity">25.4 k</div>
                                    <p>Fans</p>
                                </a>
                            </li>
                            <li class="rss">
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                    <div class="connection-quantity">20.8 k</div>
                                    <p>Subscriber</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-box">
                        <div class="ne-banner-layout1 text-center">
                            <a href="#">
                                <img src="/Content/img/banner/banner3.jpg" alt="ad" class="img-fluid">
                            </a>
                        </div>
                    </div>
                     
                </div>
            </div>
        </div>
    </section>

 

