﻿@model List<aspDay6.Models.news>
@{
    ViewBag.Title = "userNews";
}

 
@foreach (var item in Model)
{
    <h1>@item.title</h1>
    <img src="~/attach/@item.image" />
    <br />
    @item.bref
    <br />
    @Html.ActionLink("read more", "details", new { id = item.id });
    <hr />

}


