﻿
@{
    ViewBag.Title = "newsbycatalog";
}

<div class="text-center">
    @Html.DropDownList("catid", (SelectList)ViewBag.cat, "ctoose..", new { @class = "form-control" });
</div>

<div id="d1">

</div>
@section scripts{
    <script>
        $("#catid").on("change", function () {
            let id = $("#catid").val();
            $("#d1").load("/news/newsPartial?catid=" + id)
        });

    </script>
    
    }