﻿
@{
    ViewBag.Title = "search";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div>

    <input id="txt" type="text" onkeyup="fun1()" />
</div>

<div id="d">

</div>
@section scripts{

    <script>
        function fun1() {
            let txt = $("#txt").val();
            $("#d").load("/news/searchnews?txt=" + txt)
        }
    </script>
}
