﻿@model List<aspDay6.Models.news>
@{
    ViewBag.Title = "userNews";
}

@*<h2>your news</h2>
    @foreach (var item in Model)
    {
        <h1>@item.title</h1>
        <img src="~/attach/@item.image" />
        <br />
        @item.bref
        <br />
        @Html.ActionLink("read more", "details", new { id = item.id });
        <hr />

    }*@







<!-- News Feed Area Start Here -->
<section class="bg-accent border-bottom add-top-margin">
    <div class="container">
        <div class="row no-gutters d-flex align-items-center">
            <div class="col-lg-2 col-md-3 col-sm-4 col-5">
                <div class="topic-box mt-4 mb-5">Top Stories</div>
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8 col-7">
                <div class="feeding-text-dark">
                    <ol id="sample" class="ticker">
                        <li>
                            <a href="#">
                                McDonell Kanye West highlights difficulties for celebritiesComplimentary decor and
                                design advicewith Summit Park homes
                            </a>
                        </li>
                        <li>
                            <a href="#">Magnificent Image Of The New Hoover Dam Bridge Taking Shape</a>
                        </li>
                        <li>
                            <a href="#">If Obama Had Governed Like This in 2017 He'd Be the Transformational.</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- News Feed Area End Here -->
<!-- News Info List Area Start Here -->
<section class="bg-body">
    <div class="container">
        <ul class="news-info-list text-center--sm">
            <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i>Australia
            </li>
            <li>
                <i class="fa fa-calendar" aria-hidden="true"></i><span id="current_date"></span>
            </li>
            <li>
                <i class="fa fa-clock-o" aria-hidden="true"></i>Last Update 11.30 am
            </li>
            <li>
                <i class="fa fa-cloud" aria-hidden="true"></i>29&#8451; Sydney, Australia
            </li>
        </ul>
    </div>
</section>
<!-- News Info List Area End Here -->
<section class="bg-accent section-space-bottom-less4">
    <div class="container">
        <div class="row tab-space2">
            @foreach (var item in Model.Take(1))
            {
                <div class="col-md-8 col-sm-12 mb-4">
                    <div class="img-overlay-70 img-scale-animate">
                        <img src="~/attach/@item.image" style="height:439px" alt="news" class="img-fluid width-100">
                        <div class="mask-content-lg">
                            <div class="topic-box-sm color-cinnabar mb-20">Politics</div>
                            <div class="post-date-light">
                                <ul>
                                    <li>
                                        <span>الكاتب</span>
                                        <a href="/news/details/@item.id/">محسن فاضل</a>
                                    </li>
                                    <li>
                                        <span>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </span>@item.date
                                    </li>
                                </ul>
                            </div>
                            <h1 class="title-medium-light d-none d-sm-block">
                                <a href="/news/details/@item.id/"> @item.title</a>
                            </h1>
                        </div>
                    </div>
                </div>
            }
        <div class="col-md-4 col-sm-12">
            @foreach (var item in Model.Skip(1).Take(2))
            {
                <div class="img-overlay-70 img-scale-animate mb-4">
                    <div class="mask-content-sm">
                        <div class="topic-box-sm color-razzmatazz mb-10">Travel</div>
                        <h3 class="title-medium-light">
                            <a href="single-news-3.html">@item.title</a>
                        </h3>
                    </div>
                    <img src="~/attach/@item.image"style="height:217px" alt="news" class="img-fluid width-100">
                </div>
            }

        </div>
        </div>
    </div>
</section>
<!-- Post Style 2 Page Area Start Here -->
<section class="bg-body section-space-less30">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    @foreach (var item in Model.Skip(3))
                    {
                        <div class="col-sm-6 col-12">
                            <div class="position-relative mb-30">
                                <a class="img-opacity-hover" href="/news/details/@item.id/">
                                    <img src="~/attach/@item.image" alt="news" class="img-fluid width-100 mb-15" style="height:272px">
                                </a>
                                <div class="topic-box-top-xs">
                                    <div class="topic-box-sm color-cod-gray mb-20">Apple</div>
                                </div>
                                <div class="post-date-dark">
                                    <ul>
                                        <li>
                                            <span>
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>October 25, 2017
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="title-medium-dark size-lg mb-none">
                                    <a href="/news/details/@item.id/">@item.title</a>
                                </h3>
                            </div>
                        </div>
                    }

                </div>
                 
            </div>
            <div class="ne-sidebar sidebar-break-md col-lg-4 col-md-12">
                <div class="sidebar-box">
                    <div class="topic-border color-cod-gray mb-30">
                        <div class="topic-box-lg color-cod-gray">Stay Connected</div>
                    </div>
                    <ul class="stay-connected overflow-hidden">
                        <li class="facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <div class="connection-quantity">50.2 k</div>
                            <p>Fans</p>
                        </li>
                        <li class="twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <div class="connection-quantity">10.3 k</div>
                            <p>Followers</p>
                        </li>
                        <li class="linkedin">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                            <div class="connection-quantity">25.4 k</div>
                            <p>Fans</p>
                        </li>
                        <li class="rss">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                            <div class="connection-quantity">20.8 k</div>
                            <p>Subscriber</p>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-box">
                    <div class="ne-banner-layout1 text-center">
                        <a href="#">
                            <img src="/content/img/banner/banner3.jpg" alt="ad" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="sidebar-box">
                    <div class="topic-border color-cod-gray mb-30">
                        <div class="topic-box-lg color-cod-gray">Newsletter</div>
                    </div>
                    <div class="newsletter-area bg-primary">
                        <h2 class="title-medium-light size-xl pl-30 pr-30">Subscribe to our mailing list to get the new updates!</h2>
                        <img src="/content/img/banner/newsletter.png" alt="newsletter" class="img-fluid m-auto mb-15">
                        
                     
                    </div>
                </div>
                <div class="sidebar-box">
                    <div class="topic-border color-cod-gray mb-25">
                        <div class="topic-box-lg color-cod-gray">Tags</div>
                    </div>
                    <ul class="sidebar-tags">
                        <li>
                            <a href="#">Apple</a>
                        </li>
                        <li>
                            <a href="#">Business</a>
                        </li>
                        <li>
                            <a href="#">Architecture</a>
                        </li>
                        <li>
                            <a href="#">Gadgets</a>
                        </li>
                        <li>
                            <a href="#">Software</a>
                        </li>
                        <li>
                            <a href="#">Microsoft</a>
                        </li>
                        <li>
                            <a href="#">Robotic</a>
                        </li>
                        <li>
                            <a href="#">Technology</a>
                        </li>
                        <li>
                            <a href="#">Others</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Post Style 2 Page Area End Here -->
