﻿ 
@{
    ViewBag.Title = "Home Page";
}




 
<!-- News Info List Area Start Here -->
<section class="bg-body">
    <div class="container">
        <ul class="news-info-list text-center--sm">
            <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i>Australia
            </li>
            <li>
                <i class="fa fa-calendar" aria-hidden="true"></i><span id="current_date"></span>
            </li>
            <li>
                <i class="fa fa-clock-o" aria-hidden="true"></i>Last Update 11.30 am
            </li>
            <li>
                <i class="fa fa-cloud" aria-hidden="true"></i>29&#8451; Sydney, Australia
            </li>
        </ul>
    </div>
</section>
<!-- News Info List Area End Here -->
<!-- Breadcrumb Area Start Here -->
<section class="breadcrumbs-area" style="background-image: url('/Content/img/banner/breadcrumbs-banner.jpg');">
    <div class="container">
        <div class="breadcrumbs-content">
            <h1>Post Style_3</h1>
            <ul>
                <li>
                    <a href="index.html">Home</a> -
                </li>
                <li>All Posts</li>
            </ul>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End Here -->
<!-- Post Style 3 Page Area Start Here -->
<section class="bg-body section-space-less30">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
              
                    <div class="position-relative mb-50-r">
                        <a class="img-opacity-hover" href="single-news-1.html">
                            <img src="/Content/img/news/news154.jpg" alt="news" class="img-fluid width-100 mb-30">
                        </a>
                        <div class="topic-box-top-lg">
                            <div class="topic-box-sm color-cod-gray mb-20">Nature</div>
                        </div>
                        <div class="post-date-dark">
                            <ul>
                                <li>
                                    <span>by</span>
                                    <a href="single-news-1.html">Adams</a>
                                </li>
                                <li>
                                    <span>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>March 22, 2017
                                </li>
                            </ul>
                        </div>
                        <h3 class="title-medium-dark size-c26">
                            <a href="single-news-1.html">  sssss</a>
                        </h3>
                        <p>
                            Nimply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since thewhen an unknown printer took a galley of type and scrambled
                            it to make a type specimen book.
                        </p>
                        <a href="single-news-1.html" class="btn-ftf-dtp-52">Read More</a>
                    </div>
                

            </div>
            <div class="ne-sidebar sidebar-break-md col-lg-4 col-md-12">
                <div class="sidebar-box">
                    <div class="topic-border color-cod-gray mb-30">
                        <div class="topic-box-lg color-cod-gray">Stay Connected</div>
                    </div>
                    <ul class="stay-connected overflow-hidden">
                        <li class="facebook">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <div class="connection-quantity">50.2 k</div>
                                <p>Fans</p>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                <div class="connection-quantity">10.3 k</div>
                                <p>Followers</p>
                            </a>
                        </li>
                        <li class="linkedin">
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                <div class="connection-quantity">25.4 k</div>
                                <p>Fans</p>
                            </a>
                        </li>
                        <li class="rss">
                            <a href="#">
                                <i class="fa fa-rss" aria-hidden="true"></i>
                                <div class="connection-quantity">20.8 k</div>
                                <p>Subscriber</p>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Post Style 3 Page Area End Here -->