﻿@model aspDay6.Models.user
@{
    ViewBag.Title = "login";
}




<div class="container" style="padding-top:100px">
    <div id="login">
         
        <div class="container">
            <!-- Modal Start-->
            <div class="p-5">
                <div>
                    <div class="modal-content">
                        <div class="modal-header">
                        
                            <div class="title-login-form">تسجيل الدخول</div>
                        </div>
                        <div class="modal-body">
                            <div class="login-form">
                                <form method="post">









                                    <label> ادخل بريدك الالكترونى</label>
                                    <input type="text" name="email" placeholder="البريد الالكترونى"   />
                                    <label>ادخل الباسوورد</label>
                                    <input type="password" name="password" placeholder="باسوورد"  />
                                    <div class="checkbox checkbox-primary">
                                        <input type="checkbox" name="check" value="true">
                                        <label for="checkbox">تذكرنى</label>
                                    </div>
                                    <button type="submit" value="Login">تسجيل الدخول</button>
                                   
                                    <div>
                                        @if (ViewBag.status != null)
                                        {
                                            <p class="text-danger"> @ViewBag.status</p>
                                        }
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal End-->
        </div>
    </div>
</div>



@*<h2>login</h2>

<form method="post">
    <table>
        <tr>
            <td>@Html.LabelFor(n => n.email)</td>
            <td>@Html.TextBoxFor(n => n.email, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(n => n.email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(n => n.password)</td>
            <td>@Html.PasswordFor(n => n.password, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(n => n.password)</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="checkbox" name="check" value="true" />remember me</td>
            <td></td>
        </tr>
        <tr>
            <td><input type="submit" value="Login" class="form-control" /></td>
            <td>
                @if (ViewBag.status != null)
                {
                    <p class="text-danger"> @ViewBag.status</p>
                }
            </td>
        </tr>
    </table>
</form>*@
@section scripts{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
