﻿@model aspDay6.Models.user
@{
    ViewBag.Title = "profile";
}

 

<section class="bg-body section-space-less30">
    <div class="container">
        <div class="bg-accent p-35-r mb-50 item-shadow-1">
            <div class="media media-none-xs">

                <img src="~/attach/@Model.img" alt="author" class="img-fluid rounded-circle">
                <div class="media-body pt-10 media-margin30">
                    <h3 class="size-lg mb-5">@Model.name</h3>
                    <div class="post-by mb-5">By Admin</div>
                    <h4 class="post-by mb-5">@Model.age</h4>
                    <h4 class="size-lg  mb-5">@Model.address</h4>

                    <ul class="author-social-style1 item-inline">
                        <li>
                            <a href="#" title="facebook">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="google-plus">
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="linkedin">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="pinterest">
                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>

