﻿


<section class="bg-body section-space-less30">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 mb-30">
             
               
                
              
                
                <div class="topic-border color-cod-gray mb-30">
                    <div class="topic-box-lg color-cod-gray">Send Us Message</div>
                </div>
                <form method="post" enctype="multipart/form-data"   class="contact-form">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Name" class="form-control" name="name" id="form-subject" data-error="Name field is required" required="">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input type="email" placeholder="Your E-mail" class="form-control" name="email" id="form-email" data-error="Email field is required" required="">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>




                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input type="number" placeholder="Your Age" class="form-control" name="age" id="form-subject" data-error="Name field is required" required="">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input type="text" placeholder="Your Address" class="form-control" name="address" id="form-email" data-error="Email field is required" required="">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>




                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input type="file" name="image" placeholder="your image"  class="form-control"  id="form-subject" data-error="Name field is required" required="">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <input  type="password" name="password" placeholder="password" class="form-control"   id="form-email" data-error="Email field is required" required="">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>



                            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12">
                                <div class="form-group mb-none">
                                    <button type="submit" class="btn-ftg-ptp-56 disabled">Save</button>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-6 col-sm-12">
                                <div class="form-response"></div>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
            <div class="ne-sidebar sidebar-break-md col-lg-4 col-md-12">
                <div class="sidebar-box">
                    <div class="topic-border color-cod-gray mb-30">
                        <div class="topic-box-lg color-cod-gray">Stay Connected</div>
                    </div>
                    <ul class="stay-connected overflow-hidden">
                        <li class="facebook">
                            <a href="#">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                <div class="connection-quantity">50.2 k</div>
                                <p>Fans</p>
                            </a>
                        </li>
                        <li class="twitter">
                            <a href="#">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                <div class="connection-quantity">10.3 k</div>
                                <p>Followers</p>
                            </a>
                        </li>
                        <li class="linkedin">
                            <a href="#">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                                <div class="connection-quantity">25.4 k</div>
                                <p>Fans</p>
                            </a>
                        </li>
                        <li class="rss">
                            <a href="#">
                                <i class="fa fa-rss" aria-hidden="true"></i>
                                <div class="connection-quantity">20.8 k</div>
                                <p>Subscriber</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-box">
                    <div class="ne-banner-layout1 text-center">
                        <a href="#">
                            <img src="img/banner/banner3.jpg" alt="ad" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="sidebar-box">
                    <div class="topic-border color-cod-gray mb-30">
                        <div class="topic-box-lg color-cod-gray">Newsletter</div>
                    </div>
                    <div class="newsletter-area bg-primary">
                        <h2 class="title-medium-light size-xl pl-30 pr-30">Subscribe to our mailing list to get the new updates!</h2>
                        <img src="img/banner/newsletter.png" alt="newsletter" class="img-fluid m-auto mb-15">
                        <p>Subscribe our newsletter to stay updated</p>
                        <div class="input-group stylish-input-group">
                            <input type="text" placeholder="Enter your mail" class="form-control">
                            <span class="input-group-addon">
                                <button type="submit">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








@*@{
    ViewBag.Title = "register";
}

<h2>register</h2>
<form method="post" enctype="multipart/form-data">
    <div class="row g-3 align-items-center">

        <div class="col-auto">
            <input type="text" name="name" placeholder="Your name" class="form-control">
        </div>

        <div class="col-auto">
            <input type="email" name="email" placeholder="email" class="form-control">
        </div>
        <div class="col-auto">
            <input type="number" name="age" placeholder="your age" class="form-control">
        </div>
        <div class="col-auto">
            <input type="text" name="address" placeholder="your address" class="form-control">
        </div>

        <div class="col-auto">
            <input type="file" name="image" placeholder="your image" class="form-control">
        </div>

        <div class="col-auto">
            <input type="password" name="password" placeholder="password" class="form-control">
        </div>



        <div class="col-auto">
            <button type="submit" value="save">save</button>
        </div>
        <div class="col-auto">
            @if (ViewBag.status != null)
            {
                
                <div class="alert alert-secondary" role="alert">
                    @ViewBag.status
                </div>
            }
            </div>
        </div>

</form>*@