.login-btn a {
    color: #fff;
}

 

.header-action-item {
    
    width: 202px;
}
.cat-input {
    padding: 1.375rem 0.75rem;
}
.bg-body td {
    padding: 10px 0px;
}
.cat-details{
    width:600px;
    height:100px
}
#txt{
    width:100px;
    height:50px;
    background-color:aquamarine
}

 